# Optional if use a voice output
gTTS==1.1.5
# Optional if use an analyzer of text
nltk==3.2.1
numpy==1.11.0
#PyAudio==0.2.9
# Optional to use MongoDB database
pymongo==3.2.2
# Optional if use voice commands
SpeechRecognition==3.4.6

